.row {
    text-align: center;
}

#header {
    background-color: aquamarine;
}

#gameInfo {
    font-size: 40px;
}

* {
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 22px;
}