.row {
    text-align: center;
}

#header {
    background-color:#95C5A3;
}
body{
    background-color:#D6CDB9;
}
* {
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 22px;
}

#player {
    font-size: 50px;
}

#computer {
    font-size: 50px;
}